<div class="footer1 mt-5 py-2" id="footer">
    <div class="container">
        <footer>
            <table class="table table-borderless">
                <tr class="row align-items-center text-center">
                    <td class="col-md-2">
                        <a asp-action="index" asp-controller="customer"><img src="~/images/logo/logo.png" alt="logo.png"></a>
                    </td>
                    <td class="col-md-8">
                        <a asp-action="index" asp-controller="customer">HOME</a>
                        <a asp-action="aboutus" asp-controller="customer">ABOUT</a>
                        <a asp-action="" asp-controller="">TESTIMONIALS</a>
                        <a asp-action="faq" asp-controller="customer">FAQs</a>
                        <a asp-action="" asp-controller="">INSURANCE POLICY</a>
                        <a asp-action="" asp-controller="">IMPRESSUM</a>
                    </td>
                    <td class="col-md-2">
                        <a asp-action="" asp-controller="" class="pe-2"><img src="~/images/faq/fb.png" alt="fb"></a>
                        <a asp-action="" asp-controller=""><img src="~/images/faq/insta.png" alt="insta"></a>
                    </td>
                </tr>
            </table>
            <hr class="hrclr">
            <p class="fttext text-center">©2018 Helperland. All rights reserved. Terms and Conditions | Privacy Policy</p>
        </footer>
    </div>
</div>