
.oblic{
    
    margin: auto 16px;
    
}
.noti_bell{
    height: 32px;
    width: 29px;
}
.face{
    height: 36px;
    width: 36px;
}
sup{
background-color:#ff1616;
border-radius: 50%;
font-size: 12px;
padding-right: 2px;
padding-left: 2px;
}
.welcome{
    font-size: 30px;
    align-items: center;
    text-align: center;
    margin-top: 44px;
    margin-bottom: 44px;
    color: #646464;
}
.welcome span{
    color: #4f4f4f;
    font-weight: bold;
}
.tables{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.table1 .table{
    width: 262px;
    height: 714px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 210px;
    background-color: #1d7a8c;
}
.table1 .table tr{
    width: 262px;
    height: 55px;
    color: white;
   
}
.table1 .table tr td{
    width: 262px;
    font-size: 18px;
    line-height: 50px;
    padding-left: 15px;
}

.table2 .table{
    width: 845px;
    margin-left: 31px;
    color: #9b9b9b;
}

.table2 thead{
    height:49px;
}
.table2 td{
    justify-content: center;
}
.date{
    font-weight: bold;
}
.calender{
    margin-right: 7px;
}
.cancel{
    background-color: 
    #ff6b6b;
    height: 34px;
    width: 80px;
    border-radius: 17px;
    color: white;
    font-size: 16px;
    border: 0;
}

.sr-history{
    margin-left: 16px;
    color: #9b9b9b;
    font-weight: bolder;
    text-align: left;
}
.export{
    
        width: 70px;
        height: 34px;
        border-radius: 17px;
        background-color: #146371;
        border: 0;
        color: white;
        font-size: 16px;
        margin-left: 656px;
      
}



.head-content{
    display: flex;
    flex-direction: row;
   
}
 
.sr-hat{
    height: 40px;
    width: 40px;
    border: 2px solid;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 10px;
    
}
.sr-star{
    margin-left: 38px;
}
.sr-payment{
    color: #1d7a8c;
    font-size: 20px;
    font-weight: bold;
}

.complete{
    background-color: 
    #67b644;
    color: white;
    text-align: center;
}
.cancelled{
    background-color: 
    #ff6b6b;
    color: white;
    text-align: center;

}
.Ratesp{
    width: 70px;
    height: 34px;
    border-radius: 17px;
    background-color: var(--greyblue);
    font-size: 14px;
    background-color: 
    #6da9b5;
    border: 0;
    color: white;
}
