@{
    ViewData["Title"] = "About Us";
    Layout = "_CustomerLayout";
}

<img src="~/images/about/about-img.png" class="img-fluid" id="myImg">
<div class="container">
    <div class="title mt-4">A Few words about us</div>
    <table class="center">
        <tr class="align-items-center">
            <td width="65px"><hr class="starline"></td>
            <td width="40px" class="text-center"><img src="~/images/faq/star.png"></td>
            <td width="65px"><hr class="starline"></td>
        </tr>
    </table>
    <div class="about-container mt-5">
        <div class="about-desc">
            <p>We are providers of professional home cleaning services, offering hourly based house cleaning options, which mean that you don’t have to fret about getting your house cleaned anymore. We will handle everything for you, so that you can focus on spending your precious time with your family members.</p>
            <p>We have a number of experienced cleaners to help you make cleaning out or shifting your home an easy affair.</p>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="title mt-4">Our Story</div>
    <table class="center">
        <tr class="align-items-center">
            <td width="65px"><hr class="starline"></td>
            <td width="40px" class="text-center"><img src="~/images/faq/star.png"></td>
            <td width="65px"><hr class="starline"></td>
        </tr>
    </table>
    <div class="about-container mt-5">
        <div class="about-desc">
            <p>A cleaner is a type of industrial or domestic worker who cleans homes or commercial premises for payment. Cleaners may specialise in cleaning particular things or places, such as window cleaners. Cleaners often work when the people who otherwise occupy the space are not around. They may clean offices at night or houses during the workday.</p>
        </div>
    </div>
</div>