@{
    ViewData["Title"] = "Book Service";
    Layout = "_CustomerLayout";
}

<img src="~/images/book-service/book-service-banner.jpg" class="img-fluid" id="myImg">
<div class="container">
    <div class="title mt-4">Set up your cleaning service</div>
    <table class="center">
        <tr class="align-items-center">
            <td width="65px"><hr class="starline"></td>
            <td width="40px" class="text-center"><img src="~/images/faq/star.png"></td>
            <td width="65px"><hr class="starline"></td>
        </tr>
    </table>
</div>
<div class="container d-flex justify-content-center align-items-flex-start my-4">
    <div id="dv-setup-service-steps">
        <div class="d-flex justify-content-center align-items-center mb-5">
            <div id="lnk-setup-service" class="setupcleaningsertab" onclick="showSetupServiceBlock();">
                <img src="~/images/book-service/setup-service.png" id="img-setser" class="me-2">
                <img src="~/images/book-service/setup-service-white.png" id="img-setser-white" class="me-2">
                <span class="setup-cleaningser-steps-text">Setup Service</span>
            </div>
            <div id="lnk-schedule-plan" class="setupcleaningsertab" onclick="showSchedulePlanBlock();">
                <img src="~/images/book-service/schedule-plan.png" id="img-scheduleplan" class="me-2">
                <img src="~/images/book-service/schedule-plan-white.png" id="img-scheduleplan-white" class="me-2">
                <span class="setup-cleaningser-steps-text">Schedule & Plan</span>
            </div>
            <div id="lnk-details" class="setupcleaningsertab" onclick="showDetailsBlock();">
                <img src="~/images/book-service/details.png" id="img-details" class="me-2">
                <img src="~/images/book-service/details-white.png" id="img-details-white" class="me-2">
                <span class="setup-cleaningser-steps-text">Your Details</span>
            </div>
            <div id="lnk-make-payment" class="setupcleaningsertab" onclick="showPaymentBlock();">
                <img src="~/images/book-service/make-payment.png" id="img-makepay" class="me-2">
                <img src="~/images/book-service/make-payment-white.png" id="img-makepay-white" class="me-2">
                <span class="setup-cleaningser-steps-text">Make Payment</span>
            </div>
        </div>
        <div id="dv-setup-service">
            <p class="fw-bold">Select your Postal Code</p>
            <div class="row">
                <div class="col-md-4 pb-2">
                    <select class="form-select">
                        <option value="0">Postal Code</option>
                        <option value="1">Postal Code #1</option>
                        <option value="2">Postal Code #2</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <button class="btnContinueSetupSerProc px-4 py-2">Check Availability</button>
                </div>
            </div>
        </div>
        <div id="dv-schedule-plan">
            <p class="fw-bold">Select number of rooms and bath</p>
            <div class="sel-rooms-baths me-2">
                <select class="form-select">
                    <option value="1">1 bed</option>
                    <option value="2">2 bed</option>
                    <option value="3">3 bed</option>
                </select>
            </div>
            <div class="sel-rooms-baths mb-4">
                <select class="form-select">
                    <option value="1">1 bath</option>
                    <option value="2">2 bath</option>
                    <option value="3">3 bath</option>
                </select>
            </div>
            <hr class="hr-setup-ser" />
            <div class="row">
                <div class="col-md-6 mt-3">
                    <p class="fw-bold">When do you need the cleaner?</p>
                    <input type="date" id="" class="dateForService calender-icon form-control me-2 mb-2">
                    <!--<input type="time" id="" class="timeForService clock-icon form-control">-->
                    <div class="sel-timeforser mb-4">
                        <select class="form-select">
                            <option value="1">01:00 PM</option>
                            <option value="2">02:00 PM</option>
                            <option value="3">03:00 PM</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mt-3">
                    <p class="fw-bold">How long do you need the cleaner to stay?</p>
                    <div class="sel-rooms-baths mb-4">
                        <select class="form-select">
                            <option value="1">3.0 Hrs</option>
                            <option value="2">4.0 Hrs</option>
                            <option value="3">5.0 Hrs</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr class="hr-setup-ser" />
            <p class="fw-bold">Extra services</p>
            <div class="dv-setupser-extrasers-container mb-5">
                <div class="dv-setupsers-extra-services m-2" onclick="selectUnselectSerCabinet();">
                    <div class="setupser-extrasers d-flex justify-content-center align-items-center" id="dv-ser-cabinet">
                        <img src="~/images/prices/cabinets.png" id="ser-cabinet">
                        <img src="~/images/book-service/inside-cabinet-green.png" id="ser-cabinet-selected">
                    </div>
                    <div class="fs1 ser-name">Inside cabinets</div>
                </div>
                <div class="dv-setupsers-extra-services m-2" onclick="selectUnselectSerFridge();">
                    <div class="setupser-extrasers d-flex justify-content-center align-items-center" id="dv-ser-fridge">
                        <img src="~/images/prices/fridge.png" id="ser-fridge">
                        <img src="~/images/book-service/inside-fridge-green.png" id="ser-fridge-selected">
                    </div>
                    <div class="fs1 ser-name">Inside fridge</div>
                </div>
                <div class="dv-setupsers-extra-services m-2" onclick="selectUnselectSerOven();">
                    <div class="setupser-extrasers d-flex justify-content-center align-items-center" id="dv-ser-oven">
                        <img src="~/images/prices/oven.png" id="ser-oven">
                        <img src="~/images/book-service/inside-oven-green.png" id="ser-oven-selected">
                    </div>
                    <div class="fs1 ser-name">Inside oven</div>
                </div>
                <div class="dv-setupsers-extra-services m-2" onclick="selectUnselectSerLaundry();">
                    <div class="setupser-extrasers d-flex justify-content-center align-items-center" id="dv-ser-laundry">
                        <img src="~/images/prices/laundry.png" id="ser-laundry">
                        <img src="~/images/book-service/laundry-wash&dry-green.png" id="ser-laundry-selected">
                    </div>
                    <div class="fs1 ser-name">Laundry wash & dry</div>
                </div>
                <div class="dv-setupsers-extra-services m-2" onclick="selectUnselectSerWindows();">
                    <div class="setupser-extrasers d-flex justify-content-center align-items-center" id="dv-ser-windows">
                        <img src="~/images/prices/windows.png" id="ser-windows">
                        <img src="~/images/book-service/interior-windows-green.png" id="ser-windows-selected">
                    </div>
                    <div class="fs1 ser-name">Interior windows</div>
                </div>
            </div>
            <hr class="hr-setup-ser" />
            <p class="fw-bold">Comments</p>
            <textarea class="form-control"></textarea>
            <div class="my-3">
                <input type="checkbox" class="form-check-input" id="cbhavePets">
                <labe for="cbhavePets" class="form-check-label ms-1">I have pets at home</labe>
            </div>
            <hr class="hr-setup-ser" />
            <button class="btnContinueSetupSerProc px-4 py-2 float-end">Continue</button>
        </div>
        <div id="dv-details">Your Details</div>
        <div id="dv-make-payment">Make Payment</div>
    </div>
    <div class="ms-4 accordionFAQ" id="dv-payment-summary-container">
        <div class="dv-payment-summary">
            <div class="head p-3">Payment Summary</div>
            <div class="dv-duration px-3 py-4">
                <div class="fw-bold">Duration</div>
                <div>
                    <div class="float-start">Basic</div>
                    <div class="float-end">0 Hrs</div>
                </div>
                <hr class="hr-setup-ser" />
                <div>
                    <div class="fw-bold float-start">Total Service Time</div>
                    <div class="fw-bold float-end">3 Hrs</div>
                </div>
            </div>
            <hr class="hr-setup-ser" />
            <div class="dv-percleaning px-3 pb-4">
                <div>
                    <div class="float-start">Per cleaning</div>
                    <div class="float-end">0, 00 &euro;</div>
                </div>
            </div>
            <hr class="hr-setup-ser" />
            <div class="dv-percleaning px-3 pb-5">
                <div>
                    <div class="fw-bold float-start fs2">Total Payment</div>
                    <div class="fw-bold float-end fs2">0, 00 &euro;</div>
                </div>
            </div>
            <div class="foot py-2 px-3"><span class="pe-2"><img src="~/images/book-service/smiley.png"></span>See what is always included</div>
        </div>
        <p class="text-center pt-5 fw-bold ffc fs3">Questions?</p>
        <div class="accordion accordion-flush mb-3" id="accordionFAQ">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Which Helperland professional will come to my place?
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFAQ">
                    <div class="accordion-body">Answer #1</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Which Helperland professional will come to my place?
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFAQ">
                    <div class="accordion-body">Answer #2</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Which Helperland professional will come to my place?
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFAQ">
                    <div class="accordion-body">Answer #3</div>
                </div>
            </div>
        </div>
        <a asp-action="" asp-controller="" class="fw-bold formorehelp fs2">For more help</a>
    </div>
</div>