@{
    Layout = "_IndexLayout";
}

<div class="container-fluid mb-5">
    <div class="title mt-5 mb-3">Convince yourself!</div>
    <div class="whyhelperland-container">
        <div class="dv-whyhelperland">
            <img src="~/images/home/group-21.png" class="whyhelperland-img img-fluid">
            <p class="whyhelperland-desc-title mt-4">Friendly & Certified Helpers</p>
            <p class="whyhelperland-desc mt-4">
                We want you to be completely satisfied with our service and feel comfortable at home. In order to guarantee this, our helpers go through a test procedure. Only when the cleaners meet our high standards, they may call themselves Helper.
            </p>
        </div>
        <div class="dv-whyhelperland">
            <img src="~/images/home/group-23.png" class="whyhelperland-img img-fluid">
            <p class="whyhelperland-desc-title mt-5">Transparent and secure payment</p>
            <p class="whyhelperland-desc mt-5">
                We have transparent prices, you do not have to scratch money or money on the sideboard Leave it: Pay your helper easily and securely via the online payment method. You will also receive an invoice for each completed cleaning.
            </p>
        </div>
        <div class="dv-whyhelperland">
            <img src="~/images/home/group-24.png" class="whyhelperland-img img-fluid">
            <p class="whyhelperland-desc-title mt-4">We're here for you</p>
            <p class="whyhelperland-desc mt-4">
                You have a question or need assistance with the booking process? Our customer service is happy to help and advise you. How you can reach us you will find out when you look under "Contact". We look forward to hearing from you or reading.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid ourblog-container">
    <img src="~/images/home/blog-left-bg.png" class="img-fluid left blog-left-bg">
    <div class="ourblog-inner-container mt-5">
        <div class="dv-consectetur">
            <p class="whyhelperland-desc-title">We do not know what makes you happy, but ...</p>
            <p class="whyhelperland-desc">
                If it's not dusting off, our friendly helpers will free you from this burden - do not worry anymore about spending valuable time doing housework, but savor life, you're well worth your time with beautiful experiences. Free yourself and enjoy the gained time: Go celebrate, relax, play with your children, meet friends or dare to jump on the bungee.Other leisure ideas and exclusive events can be found in our blog - guaranteed free from dust and cleaning tips!
            </p>            
        </div>
        <div class="dv-consectetur-img d-flex justify-content-center">
            <img src="~/images/home/group-36.png" class="img-fuid img-consectetur">
        </div>
    </div>
    <div class="ourblog-container title">Our Blog</div>
    <div class="ourblog-container">
        <div class="dv-ourblog m-4">
            <img src="~/images/home/group-28.png" class="img-fluid">
            <div class="p-3">
                <div class="blogCaption">Lorem ipsum dolor sit amet</div>
                <p class="blogDate">January 28, 2019</p>
                <p class="blogDetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                <p class="blogReadPost">Read the Post <span class="blogArrow">&rarr;</span></p>
            </div>
        </div>
        <div class="dv-ourblog m-4">
            <img src="~/images/home/group-29.png" class="img-fluid">
            <div class="p-3">
                <div class="blogCaption">Lorem ipsum dolor sit amet</div>
                <p class="blogDate">January 28, 2019</p>
                <p class="blogDetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                <p class="blogReadPost">Read the Post <span class="blogArrow">&rarr;</span></p>
            </div>
        </div>
        <div class="dv-ourblog m-4">
            <img src="~/images/home/group-30.png" class="img-fluid">
            <div class="p-3">
                <div class="blogCaption">Lorem ipsum dolor sit amet</div>
                <p class="blogDate">January 28, 2019</p>
                <p class="blogDetail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                <p class="blogReadPost">Read the Post <span class="blogArrow">&rarr;</span></p>
            </div>
        </div>
    </div>
    <img src="~/images/home/blog-right-bg.png" class="img-fluid right blog-right-bg">
</div>
<div class="customer-outer-container pt-5 pb-3 mt-5">
    <p class="title">What Our Customers Say</p>
    <div class="customer-inner-container">
        <div class="dv-customer-say px-4 py-3 m-4">
            <img src="~/images/home/message.png" class="img-fluid" align="right">
            <div class="float-start">
                <img src="~/images/Home/group-31.png" alt="group-31" />
            </div>
            <div class="cusTitle">Lary Watson</div>
            <div class="cusSubTitle clearfix">Manchester</div>
            <p class="cusDetail mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
            <p class="cusDetail">Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
            <p class="cusReadMore">Read More <span class="blogArrow">&rarr;</span></p>
        </div>
        <div class="dv-customer-say px-4 py-3 m-4">
            <img src="~/images/home/message.png" class="img-fluid" align="right">
            <div class="float-start">
                <img src="~/images/Home/group-32.png" alt="group-31" />
            </div>
            <div class="cusTitle">Lary Watson</div>
            <div class="cusSubTitle clearfix">Manchester</div>
            <p class="cusDetail mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
            <p class="cusDetail">Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
            <p class="cusReadMore">Read More <span class="blogArrow">&rarr;</span></p>
        </div>
        <div class="dv-customer-say px-4 py-3 m-4">
            <img src="~/images/home/message.png" class="img-fluid" align="right">
            <div class="float-start">
                <img src="~/images/Home/group-33.png" alt="group-31" />
            </div>
            <div class="cusTitle">Lary Watson</div>
            <div class="cusSubTitle clearfix">Manchester</div>
            <p class="cusDetail mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
            <p class="cusDetail">Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
            <p class="cusReadMore">Read More <span class="blogArrow">&rarr;</span></p>
        </div>
    </div>
</div>