@{
    ViewData["Title"] = "Prices";
    Layout = "_CustomerLayout";
}

<img src="~/images/prices/prices-background.png" class="img-fluid" id="myImg">
<div class="title mt-4">Prices</div>
<table class="center">
    <tr class="align-items-center">
        <td width="65px"><hr class="starline"></td>
        <td width="40px" class="text-center"><img src="~/images/faq/star.png"></td>
        <td width="65px"><hr class="starline"></td>
    </tr>
</table>
<div class="container mt-4">
    <div class="d-flex justify-content-center">
        <div class="onetime mb-4">
            <div class="title fs3 d-flex justify-content-center align-items-center">One Time</div>
            <div class="p-4">
                <p class="fs4">&#8364; <span class="fw">18</span><span class="fs5">/hr</span></p>
                <ul>
                    <li>Lower prices</li>
                    <li>Easy online & secure payment </li>
                    <li>Easy amendment</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="container-fluid">
    <div class="title mt-4">Extra services</div>
    <table class="center">
        <tr class="align-items-center">
            <td width="65px"><hr class="starline"></td>
            <td width="40px" class="text-center"><img src="~/images/faq/star.png"></td>
            <td width="65px"><hr class="starline"></td>
        </tr>
    </table>
    <div class="extra-services-container mb-5">
        <div class="dv-extra-services m-4">
            <div class="extra-services d-flex justify-content-center align-items-center">
                <img src="~/images/prices/cabinets.png">
            </div>
            <div class="fs1 ser-name">Inside cabinets</div>
            <div class="fs2 fw ser-duration">30 minutes</div>
        </div>
        <div class="dv-extra-services m-4">
            <div class="extra-services d-flex justify-content-center align-items-center">
                <img src="~/images/prices/fridge.png">
            </div>
            <div class="fs1 ser-name">Inside fridge</div>
            <div class="fs2 fw ser-duration">30 minutes</div>
        </div>
        <div class="dv-extra-services m-4">
            <div class="extra-services d-flex justify-content-center align-items-center">
                <img src="~/images/prices/oven.png">
            </div>
            <div class="fs1 ser-name">Inside oven</div>
            <div class="fs2 fw ser-duration">30 minutes</div>
        </div>
        <div class="dv-extra-services m-4">
            <div class="extra-services d-flex justify-content-center align-items-center">
                <img src="~/images/prices/laundry.png">
            </div>
            <div class="fs1 ser-name">Laundry wash & dry</div>
            <div class="fs2 fw ser-duration">30 minutes</div>
        </div>
        <div class="dv-extra-services m-4">
            <div class="extra-services d-flex justify-content-center align-items-center">
                <img src="~/images/prices/windows.png">
            </div>
            <div class="fs1 ser-name">Interior windows</div>
            <div class="fs2 fw ser-duration">30 minutes</div>
        </div>
    </div>
</div>
<div class="container-fluid cleaningback">
    <div class="title">What we include in cleaning</div>
    <table class="center">
        <tr class="align-items-center">
            <td width="65px"><hr class="starline"></td>
            <td width="40px" class="text-center"><img src="~/images/faq/star.png"></td>
            <td width="65px"><hr class="starline"></td>
        </tr>
    </table>
    <div class="cleaning-container">
        <div class="dv-cleaning m-3">
            <img src="~/images/prices/bedroom.png" class="img-fluid">
            <p class="cleaning-desc-title fw pt-3">Bedroom and Living Room</p>
            <ul>
                <li>Dust all accessible surfaces</li>
                <li>Wipe down all mirrors and glass fixtures</li>
                <li>Clean all floor surfaces</li>
                <li>Take out garbage and recycling</li>
                <li>To clean up</li>
                <li>Make beds</li>
            </ul>
        </div>
        <div class="dv-cleaning m-3">
            <img src="~/images/prices/bathroom.png" class="img-fluid">
            <p class="cleaning-desc-title fw pt-3">Bathrooms</p>
            <ul>
                <li>Wash and sanitize the toilet, shower, tub, sink</li>
                <li>Dust all accessible surfaces</li>
                <li>Wipe down all mirrors and glass fixtures</li>
                <li>Clean all floor surfaces</li>
                <li>Take out garbage and recycling</li>
            </ul>
        </div>
        <div class="dv-cleaning m-3">
            <img src="~/images/prices/kitchen.png" class="img-fluid">
            <p class="cleaning-desc-title fw pt-3">Kitchen</p>
            <ul>
                <li>Cleaning the sink</li>
                <li>Cleaning the oven (outside)</li>
                <li>Cleaning the work surfaces</li>
                <li>Dust all accessible surfaces</li>
                <li>Clean all floor surfaces</li>
                <li>Take out garbage and recycling</li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid my-5">
    <div class="title">Why Helperland</div>
    <table class="center">
        <tr class="align-items-center">
            <td width="65px"><hr class="starline"></td>
            <td width="40px" class="text-center"><img src="~/images/faq/star.png"></td>
            <td width="65px"><hr class="starline"></td>
        </tr>
    </table>
    <div class="whyhelperland-container">
        <div class="dv-whyhelperland m-3 text-end">
            <div class="whyhelperland-desc-title fw">Experienced and vetted professionals</div>
            <div class="whyhelperland-desc mb-4">dominate the industry in scale and scope with<br> an adaptable, extensive network that<br> consistently delivers exceptional results.</div>
            <div class="whyhelperland-desc-title fw">Dedicated customer service</div>
            <div class="whyhelperland-desc">to our customers and are guided in all we do<br> by their needs. The team is always happy to<br> support you and offer all the information.<br> you need.</div>
        </div>
        <div class="dv-whyhelperland m-3 d-flex justify-content-center">
            <img src="~/images/prices/the-best-img.png" class="img-fluid">
        </div>
        <div class="dv-whyhelperland m-3 text-start">
            <div class="whyhelperland-desc-title fw">Every cleaning is insured</div>
            <div class="whyhelperland-desc mb-4">and seek to provide exceptional service and<br> engage in proactive behavior. We‘d be happy<br> to clean your homes.</div>
            <div class="whyhelperland-desc-title fw">Secure online payment</div>
            <div class="whyhelperland-desc">Payment is processed securely online.<br> Customers pay safely online and manage<br> the booking.</div>
        </div>
    </div>
</div>